.about__content {
  margin-top: 50px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-left: 80px;
    font-style: italic;
    
    display: inline-block; 
  position: relative;
}
   
.title::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 3px; 
    bottom: -5px; 
    left: 0;
    background-color: #007bff; 
    transition: width 0.3s ease-out; 
  }
  
  .title:hover::after {
    width: 100%; 
  }

.text {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    line-height: 1.6; 
    color: #444; 
    max-width: 80vw;
  }
