ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    
    background-image: url('../images/code.jpg'); 
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */

    
    height: 30vh; 
    
    position: relative; 
    z-index: 1; 
}




.nav__items {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav__item {
    margin-right: 10px;
    list-style-type: none;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 20px;
    font-weight:bold;
    text-shadow: 
        10px 10px 10px rgba(205, 13, 13, 0.3);
}

.header__title{
    
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 4rem; 
    font-weight: 900; 
    color: white; 
    margin-bottom: 0.25rem; 
    margin-left: 50px;
    text-shadow: 
        5px 5px 5px rgba(205, 13, 13, 0.3);
}

.subtitle{
    
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: 300; 
    font-size: 1.5rem; 
    color: whitesmoke; 
    text-shadow: 
        5px 5px 5px rgba(205, 13, 13, 0.3);

   
    margin-top: 0; 
    margin-left: 50px; 
    
    
    letter-spacing: 0.5px; 
}