.work{
    margin-top: 50px;
}

.project__title {
    
        margin-top: 25px; 
        margin-bottom: 5px; 
        margin-left: 55px;
        
        
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.6rem; 
        font-weight: 600; 
        
        
        color: #333333;
        text-transform: capitalize; 
        transition: color 0.3s ease, transform 0.3s ease; 
    }

    .project__title:hover {
        color: #007bff; 
        transform: translateY(-3px); 
        cursor: pointer; }


.bold{
    font-weight: bold;
}

.project__explanation {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    color:#555555; 

}

.project__framework {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    color: #555555; 
}


.work__image-box {
    width: 90%;
    display:flex;
    flex-direction: row;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
    

}

.work__image{
    width: 30%;
    height:auto;
    padding: 10px;
}



